body{
    background-color: gainsboro;
}

:root {
    --grid-cols: 1fr;
    --grid-rows: 1fr;
  }

.button-container {
    text-align: center;
}

#generate-button {
    background-color: orange;
}

.mode-buttons{
    background-color: grey;
    color: white;
}

#color {
    
}

#erase {
    
}

#rainbow {
    
}

#grid-size-textbox {

}
  
#container {
    text-align: center;
    display: grid;
    border-radius: 5%;
    width: 500px;
    height: 500px;
    margin: auto;
    gap: 0.05em;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid {
    display: inline-block;
    flex-wrap: wrap;
  }
  
.grid-item {
    background-color: white;
    text-align: center;
    min-height: 5px;
    min-width: 5px;
}