h1{
    color: #F9FAF8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: extra-bold;
    padding: 0%;
    margin: 0%;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #1F2937;
    font-size: 34px;
    font-weight: extra-bold;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0%;
    margin: 0%;
}

div{
    padding: 0%;
    margin: 0%;
}

body {
    margin: 0;
    padding: 0;
    color: antiquewhite;
}

.banner {
    position: relative;
    padding: 2% 4% 5% 0%;
    height: 50%;
    background-color: #1F2937;
}

.quote {
    position: relative;
    margin-top: 5%;
    padding: 10% 20% 10% 20%;
    height: 50%;
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    background-color: #E5E7EB;
}

.call-to-action{
    margin: 5% 10%;
    padding: 4% 10%;
    gap: 38%;
    background-color: #3882F6;
    display: flex;
    flex-direction: row;
    border-style: none;
    border-radius: 1%;
}

.footer {
    margin: 0%;
    height: 20%;
    padding: 2% 0%;
    width: 100%;
    background-color: #1F2937;
}

.secondary-text{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    color: #E5E7EB;
}

.quote-text {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    text-align: justify;
}

.footer-text{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center; 
    font-weight: lighter;
    color: #E5E7EB;
}

.quote-author {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #1F2937;
    font-weight: bold; 
    text-align: right;
}

.header-link {
    padding-right: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #E5E7EB;
}

.header-homepage-name {
    margin-left: 15%;
    font-size: 24px;
    width: 50%;
    font-weight: bold;
    color: #F9FAF8;
}

.container-row {
    position: relative;
    margin: 0% 0% 5% 0%;
    padding-top: 0%;
    display: flex;
    width: 100%;
}

.container-column {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 35%;
    margin-top: 2%;
    margin-left: 15%;
    gap: 5%;
}

.container-row-information {
    padding-left: 20%;
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.container-column-information {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-basis: 15%;
    margin-top: 2%;
    gap: 5%;
}

.header-title-container {
    display: grid;
    padding-left: 5%;
}

.header-link-container {
    position: relative;
    margin-left: 25%;
    display: inline-flexbox;
    width:100%;
    flex-direction: row;
}

.header-image {
    position: relative;
    margin: 2%;
    margin-left: 5%;
    padding: 8%;
    width: 20%;
    height: 40%;
    background-color: grey;
}

.information-image {
    border: 5px solid;
    border-radius: 5%;
    border-color: #3882F6;
    width: 100%;
    height: 150px;
    margin-bottom: 5%;
}

.base-button{
    position: relative;
    padding: 2%;
    width: 25%;
    height: 15%;
    border-style: none;
    border-radius: 5%;
    color: #F9FAF8;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #3882F6;
}

.cta-button{
    position: relative;
    padding: 15% 50%;
    width: max-content;
    height: max-content;
    border-style: solid;
    border-radius: 8%;
    border-color: #F9FAF8;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #F9FAF8;
    background-color: transparent;
}