.container{
    text-align: center;
    margin: 5% auto;
    width: 480px;
    height: 640px;
}

.button-row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
}

.reg-button {
    background-color: slategray;
    color: white;
    width: 50px;
    height: 50px;
}

.side-button {
    background-color: brown;
    color: white;
    width: 50px;
    height: 50px;
}

.top-button {
    background-color: burlywood;
    color: white;
    width: 50px;
    height: 50px;
}

#screen {
    background-color: black;
    color: green;
    padding: 1%;
    text-align: right;
    width: 100%;
    height: 50px;
}

#button-grid {
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: auto;
    gap: 0.05em;
}

#button-grid-bottom {
    display: grid;
}