.container{
    text-align: center;
    margin: 5% auto;
    width: 480px;
    height: fit-content;
}

.reg-button {
    background-color: slategray;
    color: white;
    width: 100%;
    height: 3rem;
}

.side-button {
    background-color: brown;
    color: white;
    width: 100%;
    height: 3rem;
}

.top-button {
    background-color: burlywood;
    color: white;
    width: 100%;
    height: 3rem;
}

#screen {
    background-color: black;
    color: green;
    text-align: right;
    width: 100%;
    height: 50px;
}

#button-grid {
    text-align: center;
    display: grid;
    border-radius: 5%;
    gap: 0.05em;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}

#button-grid-bottom {
    display: grid;
}